<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visual Thinking</title>
    <script src="/socket.io/socket.io.js" defer></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.min.js"
      async=""
    ></script>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/brx3lyu.css" />
    <!-- rigid square font -->
    <link rel="stylesheet" href="https://use.typekit.net/kdb0mcl.css" />
    <!-- yrsa font -->
  </head>

  <body>
    <header>
      <section class="logo">
        <a href="/">
          <img class="logo" src="/assets/vtHBO-v1.0-Logo_1.svg" alt="" />
        </a>
      </section>
    </header>
  </body>
</html>
