<div class="viewcount-container">
  <img class="viewcount-icon" src="/assets/viewer.webp" />
  <span class="viewcount-counter">0</span>
</div>

<script type="module" src="/scripts/viewCount.js" defer></script>

<!-- <div class="viewcount-hover-info">
  <span class="viewcount-hover-info-text">Gebruikers nu op deze pagina</span>
</div> -->