<%- include('./partials/head') %>

  <main>
    <h2 class="h2-tekenruimte">sleep met je muis om te tekenen</h2>
  </main>

  <script src="/scripts/sketch.js" defer></script>

  <%- include('./partials/foot') %>
</html>
